<!DOCTYPE html>
<html lang="en" class="has-background-black-ter">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/bulma.min.css">
    <title>Network File Browser: Edit file</title>
    <style>
        .body {
            margin-left: 2rem;
            margin-right: 2rem;
        }
        #path-title {
            margin-bottom: 1rem;
            margin-top: 0.8rem;
        }
        hr {
            margin-top: 0px;
        }
        .location {
            display: flex;
            align-items: center;
        }
        .back-arrow {
            margin-right: 0.7rem;
        }
    </style>
</head>
<body>
    {{template "header.html" .URL}}
    <div class="body">
        <div class="location">
            <a class="back-arrow" href="/app/{{join (stripLastIndex .URL) "/"}}">
                <img class="image is-24x24" src="/static/back.png">
            </a>
            <h1 class="title is-4 has-text-white" id="path-title">Editing: {{.Path}}</h1>
        </div>
        <hr>
        <textarea class="textarea" rows="30" id="file">{{.Content}}</textarea>
    </div>
</body>
</html>
