<style>
    .navbar-burger {
        margin-top: 0.4rem;
    }
    .action-image {
        margin-right: 0.3rem;
    }
    .github-link {
        margin-right: 0.5rem;
    }
</style>
<nav class="navbar has-background-dark" role="navigation">
    <div class="navbar-brand">
        <a href="/"><h1 class="navbar-item title has-text-white">Network File Browser</h1></a>
        <a role="button" class="navbar-burger has-text-white" aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>
    <div class="navbar-menu">
        <div class="navbar-start">
            <div class="navbar-item">
                {{template "folder.html" .}}
            </div>
            <div class="navbar-item">
                {{template "file.html" .}}
            </div>
            <div class="navbar-item">
                {{template "upload.html" .}}
            </div>
        </div>
        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <a class="button is-info">
                        <strong>Login</strong>
                    </a>
                    <a class="button">
                        <strong>Logout</strong>
                    </a>
                </div>
            </div>
            <div class="navbar-item">
                <a class="github-link" href="https://github.com/odddollar/Bitrate-finder" target="_blank">
                    <img class="image is-32x32" src="/static/github.png" alt="Github">
                </a>
            </div>
        </div>
    </div>
</nav>
<script>
    (function() {
        var burger = document.querySelector('.navbar-burger');
        var menu = document.querySelector('.navbar-menu');
        burger.addEventListener('click', function() {
            burger.classList.toggle('is-active');
            menu.classList.toggle('is-active');
        });
    })();
</script>
