<style>
    .navbar-burger {
        margin-top: 0.4rem;
    }
</style>
<nav class="navbar has-background-dark" role="navigation">
    <div class="navbar-brand">
        <a href="/"><h1 class="navbar-item title has-text-white">Network File Browser</h1></a>
        <a role="button" class="navbar-burger has-text-white" aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>
    <div class="navbar-menu">
        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <a class="button is-info">
                        <strong>Login</strong>
                    </a>
                    <a class="button">
                        <strong>Logout</strong>
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>
