<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <div><h1>{{.Path}}</h1></div>
    <div>
        <form action="{{.FileURL}}" method="post" enctype="multipart/form-data">
            <input type="file" id="file" name="file">
            <input type="submit" value="submit">
        </form>
    </div>
    {{if ne .URL "/folder"}}
        <div><a href="{{.PreviousURL}}">..</a></div>
    {{end}}
    {{range .Folders}}
        <div><a href="{{$.URL}}/{{.}}">{{.}}</a></div>
    {{end}}
    {{range .Files}}
        <div><a href="{{$.FileURL}}/{{.}}">{{.}}</a></div>
    {{end}}
</body>
</html>
