<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <div><h1>{{.Path}}</h1></div>
    {{if ne .URL "/folder/"}}
        <div><a href="{{.PreviousURL}}">..</a></div>
    {{end}}
    {{range .Folders}}
        {{if eq $.URL "/folder/"}}
            <div><a href="{{.}}">{{.}}</a></div>
        {{else}}
            <div><a href="{{$.URL}}/{{.}}">{{.}}</a></div>
        {{end}}
    {{end}}
    {{range .Files}}
        <div>{{.}}</div>
    {{end}}
</body>
</html>
