<div class="file is-dark">
    <label class="file-label">
        <form action="/file/{{join . "/"}}" method="post" id="upload-form" enctype="multipart/form-data">
            <input class="file-input" type="file" name="file" id="file-input" multiple>
        </form>
        <span class="file-cta">
            <img class="action-image" src="/static/upload.png">
            <span class="file-label">Upload</span>
        </span>
    </label>
</div>
<script>
    document.getElementById("file-input").onchange = function() {
        document.getElementById("upload-form").submit();
    };
</script>
