<button class="button is-dark has-text-white" id="new-file">
    <img class="action-image image is-32x32" src="/static/new-file.png">
    New file
</button> 
<form action="/new/file/{{join . "/"}}" method="post" enctype="application/x-www-form-urlencoded" id="new-file-form" hidden>
    <input type="text" id="new-file-name" name="new-file-name">
</form>
<script>
    // Add event handler
    document.getElementById("new-file").onclick = () => {
        // Get input from user
        let filename = prompt("New file name:", "New file.txt");
        if (filename == "" || filename == null) {
            return;
        }

        // Get hidden form, set input value then submit
        let t = document.getElementById("new-file-form");
        let i = document.getElementById("new-file-name");
        i.value = filename;
        t.submit();
    };
</script>
