<button class="button is-dark has-text-white" id="new-file">
    <img class="action-image image is-32x32" src="/static/new-file.png">
    New file
</button> 
<script>
    // Add event handler
    document.getElementById("new-file").onclick = () => {
        // Get input from user
        let filename = prompt("New file name:", "New file.txt");
        if (filename == "" || filename == null) {
            return;
        }

        // Replace text to fix some weird templating thing
        let url = "/new/file/{{join . "/"}}";
        url.replace("\\/", "/");

        // Send data as JSON to frontend
        fetch(url, {
            method: "POST",
            headers: {
                "Content-type": "application/json; charset=UTF-8",
            },
            body: JSON.stringify({
                name: filename,
            })
        }).then(() => location.reload())
        .catch(e => console.log(e))
    };
</script>
