<button class="button is-dark has-text-white" id="new-folder">
    <img class="action-image image is-32x32" src="/static/new-folder.png">
    New folder
</button> 
<script>
    // Add event handler
    document.getElementById("new-folder").onclick = () => {
        // Get input from user
        let foldername = prompt("New folder name:", "New folder");
        if (foldername == "" || foldername == null) {
            return;
        }

        // Replace text to fix some weird templating thing
        let url = "/new/folder/{{join . "/"}}";
        url.replace("\\/", "/");

        // Send data as JSON to frontend
        fetch(url, {
            method: "POST",
            headers: {
                "Content-type": "application/json; charset=UTF-8",
            },
            body: JSON.stringify({
                name: foldername,
            })
        }).then(() => location.reload())
        .catch(e => console.log(e))
    };
</script>
