<button class="button is-dark has-text-white" id="save-file">
    <img class="action-image image is-32x32" src="/static/save.png">
    Save
</button> 
<script>
    document.getElementById("save-file").onclick = () => {
        // Get textarea from DOM
        let content = document.getElementById("file");

        // Replace text to fix some weird templating thing
        let url = "/file/{{join . "/"}}";
        url.replace("\\/", "/");

        // Post data back to server
        fetch(url, {
            method: "POST",
            headers: {
                "Content-type": "application/json; charset=UTF-8",
            },
            body: JSON.stringify({
                fileContent: content.value
            })
        }).catch(e => console.log(e));
    }
</script>
