<div class="file is-dark">
    <label class="file-label">
        <input class="file-input" type="file" name="file" id="file-input" multiple>
        <span class="file-cta">
            <img class="action-image image is-32x32" src="/static/upload.png">
            <span class="file-label">Upload file(s)</span>
        </span>
    </label>
</div>
<script>
    // Submit form on file selection
    document.getElementById("file-input").onchange = function() {
        // Get file selector box
        let input = document.getElementById("file-input");

        // Replace text to fix some weird templating thing
        let url = "/file/{{join . "/"}}";
        url.replace("\\/", "/");

        // Create new FormData and add each file to "file" field
        let data = new FormData();
        for (const file of input.files) {
            data.append("file", file, file.name);
        }

        // Post data back to server
        fetch(url, {
            method: "POST",
            body: data
        }).then(() => location.reload())
        .catch(e => console.log(e));
    };
</script>
